<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>

		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body ng-app="app" ng-controller = 'mainController' style='background:{{backgroudnColor}}'>
		<header >
			<div>
				<div><h1>{{title}}</h1></div>
			</div>
		</header>
		
		<div class="colorWraper">	
			<div class="colorLoop" style="background: {{color.ColorCode}}" ng-repeat = "color in color" ng-click="getCode()">
				<div id='aa' ><p>{{color.ColorCode}}</p></div>
			</div>

		</div>
		
		<footer>
			<div class="accColorWrapper" >
				<div><h1>{{addColor}}</h2></div>
				<div  class="showColor" style="background:{{addColor}}; box-shadow:1px 1px 22px {{addColor}}" ></div>
			</div>
			<button ng-click="getBackgroudnColor()">Change Background</button>
		</footer>
		
	</body>
	<script type="text/javascript" src="js/pure.js"></script>
</html>